@use "./variables.scss" as *;

.page {
    position: relative;
    height: 100dvh;
    width: 100%;

    &-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 15px;
        
        &-layout {
            background: #ffffff;
            width: 350px;
            height: 120px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}