:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffa200;
  --primary-second: #6eda78;
  --primary-rgba: rgba(110, 218, 120, 1);
  --primary-second-rgba: rgba(255, 162, 0, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-second);
  background: linear-gradient(
    90deg,
    var(--primary-rgba) 0%,
    var(--primary-second-rgba) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
